<script> var member = <%- JSON.stringify(member) %> </script>
<script src="../js/member.js"></script>

<h2>Member ID: <%=member.id%></h2>
<p class="my-0">Username: <%=member.username%></p>
<p class="my-0">Email: <%=member.email%></p>
<p class="my-0">Level: <%=member.level%></p>
<p class="my-0">Efforts Put: <%=member.efforts_put%></p>
